@model BookFlix.Models.ViewModels.OrderVM


<form method="post" asp-action="details">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header  ml-0 ">
                    <div class="row">
                        <div class="col-6 text-primary" style="font-size: 20px">
                            <i class="bi bi-truck"></i> &nbsp;
                            Shipping
                        </div>

                        <div class="col-6 text-end">
                            <a asp-area="Admin" asp-controller="ManageOrder" asp-action="Index" class="btn btn-info btn-sm">Back to List</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">PickUp Details:</span>
                                    </h4>
                                </div>

                                <div class="row my-1">
                                    <div class="col-12">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Order ID</th>
                                                    <td>@Model.ID</td>
                                                </tr>
                                                <tr>
                                                    <th>Name</th>
                                                    <td>@Model.Name</td>
                                                </tr>
                                                <tr>
                                                    <th>Phone </th>
                                                    <td>@Model.PhoneNumber</td>
                                                <tr>
                                                    <th>Order Status</th>
                                                    <td>@Model.OrderStatus</td>
                                                <tr>
                                                    <th>Payment Status</th>
                                                    <td>@Model.PaymentStatus</td>
                                                </tr>

                                                        @{
                                                            if (Model.OrderStatus == "Shipped" || Model.OrderStatus == "Delivered")
                                                            {
                                                        <tr>
                                                            <th>Carrier</th>
                                                            <td>@Model.Carrier</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Tracking Id</th>
                                                            <td>
                                                                        @Model.TrackingNumber
                                                            </td>
                                                        </tr>
                                                            }
                                                        }

                                            </tbody>
                                        </table>


                                        @{
                                            if (Model.PaymentStatus == "Paid")
                                            {
                                                if (Model.OrderStatus == "Processing")
                                                {
                                                    <div class="row my-1">
                                                        <div class="col-3">
                                                            <label><strong>Carrier</strong></label>
                                                        </div>
                                                        <div class="col-9">
                                                            <input asp-for="Carrier" type="text" class="form-control" />
                                                            <span asp-validation-for="Carrier" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-3">
                                                            <label><strong>Tracking Number</strong></label>
                                                        </div>
                                                        <div class="col-9">
                                                            <input asp-for="TrackingNumber" type="text" class="form-control" />
                                                            <span asp-validation-for="TrackingNumber" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                }


                                            }
                                        }

                                        <br />
                                        <strong>Shipping Address: </strong> @Model.Address

                                    </div>

                                </div>



                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Product List:</span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @foreach (var details in Model.ProductList)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <h6 class="my-0">@details.Product.Title</h6>
                                                <small class="text-muted">Quantity: @details.Count</small>
                                            </div>
                                            <span class="text-muted">Tk. @(details.Product.Price * details.Count) </span>
                                        </li>
                                    }
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <small class="text-info">Total (BDT)</small>
                                        <strong class="text-info">Tk. @(Model.OrderTotal)</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-8 pt-2">
                            @{

                                if (Model.OrderStatus == "Delivered")
                                {
                                    <p style="color:maroon; font-size:14px;">Delivery Date: @Model.ShippingDate.ToString("dd MMM yyyy")</p>

                                }
                                else
                                {
                                    <p style="color:maroon; font-size:14px;">Estimated Delivery Date: @Model.ShippingDate.ToString("dd MMM yyyy")</p>

                                }
                            }



                        </div>
                        <div class="col-12 col-md-4">

                            @if (Model.PaymentStatus == "Paid")
                            {
                                @if (Model.OrderStatus == "Shipped")
                                {
                                    <button type="submit" class="btn btn-primary form-control">Mark as Delivered</button>

                                }
                                else if (Model.OrderStatus == "Delivered")
                                {
                                    <p class="text-end" style="padding-top:9px">Product is already delivered</p>

                                }
                                else if(Model.OrderStatus == "Processing")
                                {
                                    <button type="submit" class="btn btn-primary form-control">Assign Carrier</button>

                                }
                                else
                                {
                                    <p class="text-end">Order Is Cancelled</p>
                                }

                            }
                            else
                            {
                                <p class="text-end" style="padding-top:9px">Wait for the customer to pay</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div style="height:40px">
</div>
<br />
<br />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
